# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg
*.log
*.sqlite3

# VSCode
.vscode/

# React / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
dist/
*.env.local
*.env.development
*.env.test
*.env.production

# OS
.DS_Store
Thumbs.db

# Misc
.idea/
*.swp
*.swo
coverage/
*.cover
*.pyc
*.mypy_cache/
*.pytest_cache/